header.header#header
	.header__inner.container.container--header 
		a.header__logo(href="/index.html" aria-label="Главная") 
			+svg('logo')

		

		button.header__burger.burger(type="button" aria-label="Открыть меню")
			span.burger__line.burger__line--1
			span.burger__line.burger__line--2
			span.burger__line.burger__line--3

		
		nav.header__nav
			+top-link('People nearby', 'header')
			+top-link('Search', 'header')


			a.header__premium.premium.hover-el(href="#")
				span Premium
				+svg('prem')

		 

		
		
	
			
