- let n = 0
- let list = [{title:"about",link:"about"},{title:"contacts",link:"contacts"},{title:"promo",link:"promo"}]
- let nav = [{label:"Profile",link:"profile"},{label:"My photos",link:"photos"},{label:"Messages",link:"messages"},{label:"Favorites",link:"favorites"},{label:"Guests",link:"guests"},{label:"Settings",link:"settings"},{label:"Log out",link:"out"}]

- let slider = [{price:"50"},{price:"150"},{price:"300"},{price:"500"},{price:"1000"},{price:"1000"},]

-let diamond = [{svg:"msg",text:"Отправлять сообщения"},{svg:"premium",text:"Пользоваться другими премиум функциями"},{svg:"hide",text:"Просматривать скрытые фото"},{svg:"hide-2",text:"Просматривать скрытые фото"},{svg:"hide-3",text:"Просматривать скрытые фото"},{svg:"pay",text:"Оплачивать подарки"},]








